* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex {
    display: flex;
}

.add-button button {
    border: none;
    outline: none;
    color: white;
    background-color: green;
    width: 8%;
    margin-left: 6%;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

}

.edt {
    border: none;
    outline: none;
    background-color: green;
    cursor: pointer;
    color: white;
    padding-block: 4px;
    padding-inline: 12px;
    font-size: medium;
}

.dlt {
    border: none;
    outline: none;
    background-color: red;
    cursor: pointer;
    color: white;
    padding-block: 4px;
    padding-inline: 12px;
    font-size: medium;
}

.heading h2 {
    /* border: 1px solid red; */
    margin-block: 30px;
    text-align: center;
    color: green;
    font-size: 2.4rem;
}

.table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}

.table th,
.table td {
    /* border: 1px solid gray; */
    padding: 10px;
    text-align: center;
}

.data-table tr:hover {
    background-color: #dcdde1;
}

.heading h3 {
    /* border: 1px solid red; */
    padding-block: 30px;
    text-align: center;
    color: black;
    font-size: 2.4rem;
}

form {
    /* border: 1px solid red; */
    height: 90vh;
    margin: auto;
    width: 95%;
}

.user-info{
    /* border: 1px solid black; */
    width: 50%;
}
.user-info div {
    margin-block: 20px;
    margin-inline: 20px;
}

input {
    padding: 6px;
    width: 100%;
    outline: none;
    font-size: 1rem;
}
label{
    font-size: 1.2rem;
}

.st {
    padding: 6px;
    width: 100%;
    font-size: 1rem;
    outline: none;
}

.gndr {
    padding: 6px;
    font-size: 1rem;
    width: 100%;
    outline: none;
}

.btn {
    border: none;
    outline: none;
    background-color: green;
    cursor: pointer;
    color: white;
    padding: 6px;
    font-size:1.3rem;
    margin-block: 20px;
    width: 90%;
    margin-inline: auto;
    display: block;
}